@use "partials/utilities";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'grandslangroman';
    src: url('../fonts/grandslang-roman-webfont.woff2') format('woff2'),
         url('../fonts/grandslang-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236,231,225);
    color: rgb(26, 24, 24);
    font-family: Montserrat, sans-serif; 
}

.hero-text {
    font-family: grandslangroman, sans-serif;
    font-size: 10vw;
    text-transform: uppercase;
    transition-timing-function: ease-out;
    transition-property: transform;
    transition-duration: 0.5s;

    &:hover {
        transform: translateX(40px) skew(-5deg);
    }
}

::selection {
    color: white;
    background: black;
}

.header-wrapper {
    h1 {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    p {
        font-size: 13px;
        line-height: 1.9em;
        font-weight: 400;
        letter-spacing: 0.5px;
    }
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;

    .project {
        min-height: 300px;
        background-color: white;
        box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.15);
        transition-duration: 1s;
        display: flex;
        flex-direction: column;

        &:hover {
            transform: scale(1.02);
        }

        &-info {
            min-height: 33%;
            margin-top: auto;
        }

        &-description {
            color: lighten(rgb(26, 24, 24), 33%);
        }
    }
}

@media (max-width: 500px) {
    .hero-text:hover {
        transform: translateX(10px);
    }
}
