// FLEXBOX

.flexbox {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

@for $i from 1 through 50 {
    .gap-#{$i} { gap: #{$i}px; }
}


// PADDING

@for $i from 0 through 20 {
    .p-#{$i} { padding: #{$i}px; }
    .px-#{$i} { padding: 0 #{$i}px; }
    .py-#{$i} { padding: #{$i}px 0; }
    .pl-#{$i} { padding-left: #{$i}px; }
    .pr-#{$i} { padding-right: #{$i}px; }
}


// MARGIN

@for $i from 0 through 20 {
    .m-#{$i} { margin: #{$i}px; }
    .ml-#{$i} { margin-left: #{$i}px; }
    .mr-#{$i} { margin-right: #{$i}px; }
    .mt-#{$i} { margin-top: #{$i}px; }
    .mb-#{$i} { margin-bottom: #{$i}px; }
}

.ml-auto {
    margin-left: auto;
}


// FONTS

@for $i from 1 through 9 {
    .font-0#{$i} { font-size: calc(#{$i}em / 10); }
    .font-1#{$i} { font-size: calc(1#{$i}em / 10); }
    .font-2#{$i} { font-size: calc(2#{$i}em / 10); }
    .font-3#{$i} { font-size: calc(3#{$i}em / 10); }
}
